.Rproj.user
.Rhistory
.RData
.Ruserdata


# Ignore the Data Directory.

Data/
fits/

# Ignore Readme.html
README.html

#ignore the org files.
*.org
*.org~

# Ignore the baggage of local latex build.

*.aux
*.bbl
*.blg
*.log
*.bcf
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.xml